#grid-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: auto;
    width: 1280px;
    height: 1280px;
}

:root{
    --boxes-per-row: 16;
}

.grid-item{
    background-color: blue;
    text-align:center;
    border: 1px solid #ccc;
    display: flex;
    width: calc(1280px / var(--boxes-per-row));
    height: calc(1280px / var(--boxes-per-row));
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(84, 194, 245);
    font-size: 20px;
}